<div style="background-color:black">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Taller 5 y 6</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="consumoapi">Rick y Morty</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="nombremayus">Nombre A Mayuscula</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="formatojson">Formnato JSON</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="convernum">Convertir A Numeros </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"> </a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>